@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  section {
    @apply py-[85px];
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  select,
  select[multiple] {
    @apply text-lg py-4 px-5 border border-opacity-20 focus:border-opacity-60 focus:ring-0 rounded-full font-light;
  }

  textarea {
    @apply text-lg py-2 px-5  border border-opacity-20 focus:border-opacity-60 focus:ring-0 rounded-3xl;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply text-primary border border-opacity-20 focus:border-opacity-60 focus:ring-0 h-5 w-5;
  }
  [type="checkbox"] {
    @apply rounded;
  }
}

input:focus {
  @apply outline-none;
}

.max_container {
  @apply max-w-[1600px] mx-auto w-full px-3;
}

.nav-white {
  @apply bg-white shadow-md transition-colors duration-300;
}

.sidebar_item {
  @apply hover:text-gray-600 transition-colors cursor-pointer;
}

.stat-card {
  @apply rounded-md p-5 text-slate-800 text-center;
}

.stat-title {
  @apply font-semibold text-3xl;
}

.field-error {
  @apply text-sm text-rose-600 mt-1;
}

.section_title {
  @apply font-[700] text-5xl mb-4;
}

.section_subtitle {
  @apply text-lg font-light text-slate-500;
}

.btn {
  @apply px-6 py-3 border border-primary text-primary rounded-full hover:bg-primary hover:text-white transition-all hover:px-6 disabled:text-gray-300 disabled:border-gray-300 disabled:hover:px-4 disabled:hover:bg-transparent disabled:cursor-not-allowed;
}

.btn_secondary {
  @apply px-6 py-4 border font-semibold border-primary bg-primary text-white rounded-full transition-all hover:px-10 hover:tracking-wider disabled:text-gray-300 disabled:border-gray-300 disabled:hover:px-4 disabled:hover:bg-transparent disabled:cursor-not-allowed hover:bg-[#002745];
}

.btn_accent {
  @apply px-6 py-4 font-semibold bg-light text-deep rounded-full transition-all hover:text-white hover:bg-primary;
}

.btn_sm {
  @apply px-[10px] py-[2px] bg-primary text-white rounded-full text-xs hover:bg-[#002745] transition-all disabled:text-gray-300 disabled:border-gray-300 disabled:hover:px-4 disabled:hover:bg-transparent disabled:cursor-not-allowed;
}

.pagination_btn {
  @apply mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-gray-400 bg-transparent p-0 text-sm text-black transition duration-150 ease-in-out hover:bg-third;
}

.pagination_btn_active {
  @apply mx-1 flex h-9 w-9 items-center justify-center rounded-full bg-primary p-0 text-sm text-white shadow-md transition duration-150 ease-in-out;
}

.sidebar_container {
  @apply w-full;
}

/* Utility Classes */
.flex_cen {
  @apply flex items-center justify-center;
}

.overflow-hidden {
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  section {
    @apply py-[65px];
  }

  .container {
    @apply w-full;
  }

  .section_title {
    @apply font-[700] text-3xl mb-4;
  }

  .section_subtitle {
    @apply text-lg font-light text-slate-500;
  }
}

@media only screen and (max-width: 768px) {
  section {
    @apply py-[45px];
  }

  .section_title {
    @apply font-[700] text-3xl mb-4;
  }

  .section_subtitle {
    @apply text-lg font-light text-slate-500;
  }

  .text__para {
    @apply text-[16px] leading-7 mt-3;
  }
}

/* Responsive Media for - container */
@media (min-width: 576px) {
  .max_container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .max_container {
    max-width: 720px;
  }
  .job_card_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .job_listing_card_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .max_container {
    max-width: 780px;
  }
}

@media (min-width: 992px) {
  .max_container {
    max-width: 960px;
  }
  .job_card_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .job_listing_card_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1200px) {
  .max_container {
    max-width: 1140px;
  }
  .job_listing_card_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .sidebar_container {
    @apply min-w-[33%];
  }
}

@media (min-width: 1400px) {
  .max_container {
    max-width: 1320px;
  }
  .job_card_container {
    grid-template-columns: repeat(4, 1fr);
  }
  .job_listing_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .sidebar_container {
    @apply w-1/4;
  }
}

@media (min-width: 1680px) {
  .max_container {
    max-width: 1600px;
  }
}
